.modal-container{

  
  width: 40vw;
  height: 30vw;
  background: rgba(0,0,0,.5) ;
  position: absolute;
  top: 100px;
  left: 350px;
  z-index: 2000;
  display: flex;
  justify-content:center ;
  align-items: center;
  border: 10px solid rgb(112, 187, 177);


}

