:root{
  --mainBlue: #2a2a72;
  --lightBlue: #809ffd;
  --mainDark: #23252b;
  --mainYellow: #ffa408;
  --lightGreen: #54b9a3;
  --mainWhite: white;
  --lightGreen2: #16866e;

}
body{
  font-family: "osvwald", sans-serif ;
background-color: var(--mainWhite);
}
.text-title{
  font-family: "Roboto Condensed", cursive;
  letter-spacing: 0,3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainWhite);
}

.text-bright{
  color: var(--lightBlue);
}