:root{
  --mainBlue: #2a2a72;
  --lightBlue: #809ffd;
  --mainDark: #23252b;
  --mainYellow: #ffa408;
  --lightGreen: #54b9a3;
  --mainWhite: white;
  --lightGreen2: #16866e;
  --lightRed: #e46428;

}
body{
font-family: "oswald", sans-serif !important;
background-color: var(--mainWhite)!important;
color: var(--mainDark)!important;
}
.text-title{
  font-family: "oswald", cursive;
  letter-spacing: 0,3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--lightGreen2);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem!important;
  color: var(--mainDark);
  border-radius: 10px!important;
  border: 0.1rem solid var(--lightRed)!important; 
  
  
}
.btn-black:hover{
  background: var(--mainYellow)!important;
color: var(--lightRed)!important;
}

.cart-icon{
cursor: pointer;
font-size: 1.2rem;
color: var(--mainYellow);
  
}
.txt-fin {
  margin-left: 50%;
}
.btn-fin{
margin-left: -10%;
margin-top: 20%;
}
.btn-fin01{
  display: flex;
  position: absolute;
  margin-left: 76%;
  margin-top: -210%;
  padding-left: 5px;
}